<style>
   .miniSelect {
    height: auto;
    line-height: 12px;
  }
  .dynamicElementOpenAnswer{

    
      border-radius: 25px;
      border: 2px solid #21ada6;
      padding: 20px;
      width: 50%;
      height: 300px;
      margin-bottom: 10px;
  }
  .dynamicElementMultipleChoice{

    
    border-radius: 25px;
    border: 2px solid #21ada6;
    padding: 20px;
    width: 50%;
    min-height: 300px;
    overflow:hidden;
    margin-bottom: 10px;
}

  .insertChoice{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .fileInsertQuestion{
    border-radius: 25px;
    border: 2px solid #21ada6;
    padding: 20px;
    margin-top:10px;
    margin-bottom:10px;
    width: 50%;
  }

  .submitForm{

    margin-top:10px;
    margin-bottom:10px;
    margin-left:40%;
  }

  .closeButton{
    margin-left: 81%;
    overflow: overlay;
    font-weight: bold;
    color: darkcyan;

  }
</style>




{% extends 'master.html' %}

{% block access_control %}
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('users') }}">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Utilizadores</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('contests') }}">
          <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Concursos</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('candidatures') }}">
          <i class="align-middle" data-feather="edit"></i> <span class="align-middle">Candidaturas</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('results') }}">
          <i class="align-middle" data-feather="award"></i> <span class="align-middle">Resultados</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('forms') }}">
          <i class="align-middle" data-feather="send"></i> <span class="align-middle">Formulários</span>
        </a>
    </li>
    
{% endblock %}

{% block body %}


<div class="header">
Concurso ID: {{contest_id}}

</div>
<div>
  <div class="formCreator">
    <span>
    <b>Tipo de Pergunta:</b>
      <select class="miniSelect" id="questionSelector" aria-label="Pergunta a criar">
        <option selected>...</option>
        <option value="multipleChoice">Escolha Múltipla</option>
        <option value="openAnswer">Pergunta Aberta</option>
        <option value="fileAnswer">Ficheiro</option>
      </select>
      <button name="generateQuestion" onclick="generateQuestion()">
        Inserir
      </button>
    </span>  
  </div>


<form>
    
    <div class="insertQuestionsBelow">

    </div>

    <div class="submitForm">
      <input class="btn btn-primary" type="submit" value="Submeter Concurso">
    </div>

</form>


<script>
  var counter = 0;
  
  function generateQuestion(){ 
      var selectedOption = document.getElementById('questionSelector');
      var div = document.createElement('div')
      var countDivs;
      var closeButton = document.querySelectorAll(".closeButton");
      
     if(selectedOption.options[selectedOption.selectedIndex].value == "openAnswer"){
       counter++;
       div.innerHTML = `<div class="dynamicElementOpenAnswer" id="openAns${counter}">
        <label for="question1"><b>Pergunta ${counter}</b></label>
        <span class="closeButton">X</span>
        <input type="text" class="form-control" id="question${counter}" aria-describedby="scoreQuestion1" placeholder="Descreva a Questão">
        <label for="scoreQuestion1"><b>Cotação</b></label>
       
        <input type="text" class="form-control" id="scoreQuestion${counter}" aria-describedby="questionDescription" placeholder="Cotação">
        <label for="textoArea1">Detalhes da Questão</label>
        <textarea class="form-control" id="textoArea${counter}" rows="3" placeholder ="Detalhes Opcionais"></textarea>
        
        
      </div>`;
      document.querySelector('div.insertQuestionsBelow').appendChild(div);
     }

     else if(selectedOption.options[selectedOption.selectedIndex].value == "multipleChoice"){ // FALTA POR ESCOLHA COM COUNTER
      counter++;
      div.innerHTML = `<div class="dynamicElementMultipleChoice" id="mulChoice${counter}">
        <label for="question2"><b>Pergunta ${counter}</b></label>
        <span class="closeButton">X</span>
        <input type="text" class="form-control" id="question${counter}" aria-describedby="scoreQuestion1" placeholder="Descreva a Questão">
        
        <label for="scoreQuestion1"><b>Cotação</b></label>
        <input type="text" class="form-control" id="scoreQuestion${counter}" aria-describedby="questionDescription" placeholder="Cotação">
        
        <label for="textoArea1">Detalhes da Questão</label>
        <textarea class="form-control" id="textoArea${counter}" rows="3" placeholder ="Detalhes Opcionais"></textarea>
        <div class="escolhas" id = "escolhas">
        <label for="choice1"><b>Escolha 1</b></label>
        <input type="text" class="form-control" id="choice${counter}" aria-describedby="choice1" placeholder="Escolha 1">
        <label for="choice1"><b>Escolha 2</b></label>
        <input type="text" class="form-control" id="choice${counter}" aria-describedby="choice2" placeholder="Escolha 2">
        </div>
        <div class="insertChoice">
          <button type="button" onclick="insertChoice()">Insira Escolha</button>
        </div>`;
     document.querySelector('div.insertQuestionsBelow').appendChild(div);
    }

    else if(selectedOption.options[selectedOption.selectedIndex].value == "fileAnswer"){
      counter++;
      div.innerHTML = `<div class="fileInsertQuestion" id="fileAnswer${counter}">
        <span class="closeButton">X</span>
        <input type="text" class="form-control" id="fileInsertQuestion${counter}" aria-describedby="questionDescription" placeholder="Ficheiro a Atribuir">
        <br>
        <input type="file" class="form-control-file" id="inputFile${counter}">
    </div>`;
     document.querySelector('div.insertQuestionsBelow').appendChild(div);
    }
  
    closeButton.forEach(btn=>{
      btn.addEventListener("click",function(){
        btn.parentElement.remove();
      })
    })
    //console.log(closeButton);


  }

 

  function insertChoice(){ // POR DESENVOLVER

    var escolhaArray = document.querySelectorAll("[id^='mulChoice']");
    //var count = document.getElementById("mulChoice").querySelectorAll("div.escolhas label").length;// ADICIONAR DINAMISMO ;
    var escolha = document.createElement('div');
    
    
    
     
        escolha.innerHTML = `<div><label for="choice`+count+`"><b>Escolha`+count+`</b></label>
        <input type="text" class="form-control" id="question2choice`+count+`" aria-describedby="choice" placeholder="Escolha `+count+`" </input></div>`;
        document.querySelector('div.escolhas').appendChild(escolha);
        
      
   

  }
  /*
<div hidden class="fileInsertQuestion">
        <input type="text" class="form-control" id="fileInsertQuestion1" aria-describedby="questionDescription" placeholder="Ficheiro a Atribuir">
        <br>
        <input type="file" class="form-control-file" id="inputFile">
    </div>
      
    </div>
    <div hidden class="dynamicElementOpenAnswer" id="openAns">
      <label for="question1"><b>Pergunta 1</b></label>

      <input type="text" class="form-control" id="question1" aria-describedby="scoreQuestion1" placeholder="Descreva a Questão">
      <label for="scoreQuestion1"><b>Cotação</b></label>
    
      <input type="text" class="form-control" id="scoreQuestion1" aria-describedby="questionDescription" placeholder="Cotação">
      <label for="textoArea1">Detalhes da Questão</label>
      <textarea class="form-control" id="textoArea1" rows="3" placeholder ="Detalhes Opcionais"></textarea>
      
    </div>

    <div hidden class="dynamicElementMultipleChoice" id="mulChoice">
      <label for="question2"><b>Pergunta 1</b></label>
      <input type="text" class="form-control" id="question2" aria-describedby="scoreQuestion1" placeholder="Descreva a Questão">
      
      <label for="scoreQuestion1"><b>Cotação</b></label>
      <input type="text" class="form-control" id="scoreQuestion2" aria-describedby="questionDescription" placeholder="Cotação">
      
      <label for="textoArea1">Detalhes da Questão</label>
      <textarea class="form-control" id="textoArea2" rows="3" placeholder ="Detalhes Opcionais"></textarea>
      <div class="escolhas" id = "escolhas">
        <label for="choice1"><b>Escolha 1</b></label>
        <input type="text" class="form-control" id="question2choice1" aria-describedby="choice1" placeholder="Escolha 1">
        <label for="choice1"><b>Escolha 2</b></label>
        <input type="text" class="form-control" id="question2choice2" aria-describedby="choice2" placeholder="Escolha 2">
      </div> 
      <div class="insertChoice">
        <button type="button" onclick="insertChoice()">Insira Escolha</button>
      </div>
      
      
    </div>
  */

</script>


{% endblock body %}



