{% extends 'master.html' %}

{% block access_control %}
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('users') }}">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Utilizadores</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('contests') }}">
          <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Concursos</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('candidatures') }}">
          <i class="align-middle" data-feather="edit"></i> <span class="align-middle">Candidaturas</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{ url_for('results') }}">
          <i class="align-middle" data-feather="award"></i> <span class="align-middle">Resultados</span>
        </a>
    </li>
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{ url_for('forms') }}">
          <i class="align-middle" data-feather="send"></i> <span class="align-middle">Formulários</span>
        </a>
    </li>
    
{% endblock %}

{% block body %}

    <div class="row mb-2 mb-xl-3">
      <div class="col-auto d-none d-sm-block">
        <h3>{{contests|count}} Concursos</h3>
      </div>
    
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <table class="table table-hover" id="tabela1"> 
              <thead>
                <tr>
                  <th scope="col"><input type="checkbox" id=-1 name="Checkbox"></th>
                  <th scope="col">Concurso</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Ativo?</th>
                  <th scope="col">Ações</th>
                  <th scope="col">Inscrição</th>
                </tr>
              </thead>
              <tbody>
                {% for contest in contests %}
                  <tr>
                    <td>
                      <input type="checkbox" id={{contest.id}} name="Checkbox">
                    </td>
                    <td>
                      {{contest.code}}
                    </td>
                    <td>
                      {{contest.name}}
                    </td>
                    <td>
                      {{contest.active}}
                    </td>
                    <td>
                      <a href="https://google.com/"><input name="viewButton" id="view{{contest.id}}" type="image" src="static/img/view.png"></input></a>
                      <a href="https://google.com/"><input name="editButton" id="edit{{contest.id}}" type="image" src="static/img/edit.png"></input></a>
                      <a href="https://google.com/"><input name="deleteButton" id="delete{{contest.id}}" type="image" src="static/img/delete.png"></input></a>
                    </td>
                    <td>
                        <a button href="{{ url_for('test',contest_id=contest.id) }}" type="button" class="btn btn-primary">Inscrever</button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
           <div class="card-body">
          </div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}

